html, body {
  margin: 0;
  padding: 0;
  background-color: var(--light-background);
}
button {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}